<!DOCTYPE html>
<html>
<head>
    <!--bootstrap-->
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/bootstrap-theme.css" rel="stylesheet">
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    <!--vue.js-->
    <script src="/static/js/vue.js"></script>
    <script type="text/javascript" src="/static/js/vue-router.js"></script>
    <!--csrf token-->
    <script type="text/javascript" src="/static/js/csrf.js"></script>
    <title>My First Page</title>
</head>

<body>
<nav class="navbar navbar-inverse" role="navigation">
<div class="container-fluid">
    <div class="navbar-header">
        <a class="navbar-brand" href="#">C640</a>
    </div>
    <div>
    <ul class="nav navbar-nav">
        <li class="active"><a href="#">首页</a></li>
        <li><a href="/program/modelone/">自主开发</a></li>
        <li><a href="#">待办事项</a></li>
        {% if request.user.is_authenticated %}
        <li><a href="/accounts/profile/">当前用户：{{ request.user.name }}</a></li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                个人中心<b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
                <li><a href="#">定制工具</a></li>
                <li><a href="#">？</a></li>
                <li><a href="#">？</a></li>
                <li class="divider"></li>
                <li><a href="#">修改个人信息</a></li>
                <li class="divider"></li>
                <li><a href="/accounts/logout/">退出</a></li>
            </ul>
        </li>
        {% else %}
        <li><a href="/accounts/login/">登陆</a></li>
        <li><a href="/accounts/register/">注册</a></li>
        {% endif %}
</div>
</nav>

<div class="container jumpbotron">
    <div class="col-md-8 col-md-offset-4">
    {% block content %}
    <div id="app" class="form-group">
        <p class="form-control" v-text="aaa"></p>
        <span>Input here:</span>
        <input class="form-control" v-model="aaa">
    </div>
    {% endblock%}
    </div>
</div>

<div class="container text-center jumpbotron">
    <p>Powered By <a href="/admin">Django 1.11.8</a></p>
    <p>Copyright 2017.Cnpe C640</p>
</div>

    {% block vuejs %}
    <script type="text/javascript">
    var vm = new Vue({
        el:"#app",
        data:{
            email: "{{ request.user.email }}",
            name: "{{ request.user.name }}",
            sex: "{{ request.user.sex }}",
            birthday: "{{ request.user.birthday }}",
            job_number: "{{ request.user.job_number }}",

            zhengzhi_mianmao: "{{ request.user.zhengzhi_mianmao }}",
            zhengzhi_time: "{{ request.user.zhengzhi_time }}",

            job: "{{ request.user.job }}",
            job_time: "{{ request.user.job_time }}",
            job_2: "{{ request.user.job_2 }}",
            id_number: "{{ request.user.id_number }}",

            xue_li: "{{ request.user.xue_li }}",
            school: "{{ request.user.school }}",
            graduate_time: "{{ request.user.graduate_time }}",
            job_join_time: "{{ request.user.job_join_time }}",
            team_belong: "{{ request.user.team_belong }}",
            phone: "{{ request.user.phone }}"
        },
        methods:{
            submit() {
                data_to_send = {
                    name:this.name,
                    sex:this.sex,
                    birthday:this.birthday,
                    job_number:this.job_number,

                    zhengzhi_mianmao:this.zhengzhi_mianmao,
                    zhengzhi_time:this.zhengzhi_time,

                    job:this.job,
                    job_time:this.job_time,
                    job_2:this.job_2,
                    id_number:this.id_number,

                    xue_li:this.xue_li,
                    school:this.school,
                    graduate_time:this.graduate_time,
                    
                    job_join_time:this.job_join_time,
                    team_belong:this.team_belong,
                    phone:this.phone,
                };
                //console.log(data_to_send);
                data_to_send = JSON.stringify(data_to_send);
                console.log(typeof data_to_send);
                console.log(data_to_send);

                $.post('/accounts/profile/',
                    data_to_send,
                    function(r,err){
                        if(err === 'success') {
                            alert('修改保存成功');
                            return location.assign('/');
                        } else {
                            return console.log(err);
                        }
                    });
            },
        },
    });
    </script>
    {% endblock %}   
</body>
</html>